{% load static %}
{% comment %} Base HTML file used as a base for any HTML page {% endcomment %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Dépenses Perso</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'resources/favicon.svg' %}">
    </head>
    <body>
        <div class="mainContainer">
            <div class="backgroundContainer">
                <div class="waveBackground">
                    <svg class="waveBackgroundSvg" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                        <path d="M0, 100 C150, 200 350,
                            0 500, 100 L500, 00 L0, 0 Z">
                        </path>
                    </svg>
                </div>
            </div>

            <div class="backgroundContent">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>