{% extends 'base.html' %}

{% block content %}
<div class="arrowContainer">
    <a href="#">
        <div class="textLink">
            <p>Accéder à l'équilibre</p>
        </div>
        <div class="arrowIconContainer">
            <svg width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg>
        </div>
    </a>
</div>
<div class="content">
    <div class="contentTitle">
        <h1>Bienvenue sur DépensesPerso</h1>
    </div>
    <div class="addForm">
        <form method="POST" action="{% url 'addUser' %}">
            {% csrf_token %}
            <div class="labelHome">
                <label for="username">Ajoutez votre nom ainsi que ceux de vos amis ici : {{ error }}</label>
            </div>
            <div class="inputHome">
                <div class="textInputHome">
                    <input type="text" name="username">
                </div>
                <div class="submitInputHome">
                    <input type="submit" value="Ajouter">
                </div>
            </div>
        </form>
    </div>
    <div class="userAddedList">
        {% for user in users %}
            <!-- {% if user.useName|length > 13 %}
                <h1>error1</h1>
            {% endif %} -->
            <div class="user">
                <div class="username">
                    <p>{{ user.useName }}</p>
                </div>
                <a href="{% url 'deleteUser' user.id %}" class="trashIcon">
                    <svg fill="currentColor" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}