/*
    Author  : Younes Sayeh
    Date    : 06.02.2023
*/

/* Color variables */
:root {
    --mainColor: #3319c8;
    --mainColorHover: #5e48ec;
    --textColor: #3A3965;

    --backroundColor1: #b5c9ff;
    --backroundColor2: #cbdeff;

    --violetGrey: #F0F0F8;
    --mainGrey: #838383;
    --white: #FFFFFF;
    --error: #B70000;
    --errorText: #C62441;
}

/* Global style */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
}

.backgroundContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--backroundColor2);
}

.waveBackground {
    width: 100%;
    height: 50%;
}

.waveBackgroundSvg {
    fill: var(--backroundColor1);
}

.backgroundContent {
    background-color: white;
    position: absolute;
    width: 1047px;
    height: 880px; /* 880px */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.arrowContainer {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

.arrowContainer a {
    display: flex;
    align-items: center;
    color: var(--textColor);
    text-decoration: none;
    transition: all .3s ease-in-out;
    margin: 0 50px 0 0;
}

.arrowContainer a:hover {
    transition: all .3s ease-in-out;
    margin: 0 40px 0 0;
}

.arrowIconContainer {
    transform: rotate(180deg);
}

.arrowIconContainer svg {
    fill: var(--textColor);
    width: 50px;
    height: 50px;
}

.textLink p {
    color: var(--textColor);
    font-weight: 600;
    font-size: 30px;
    margin: 0 20px 0 0;
}

.content {
    width: 80%;
    height: 100%;
    margin: 0 105px 0 105px;
}

/* Home page */

.contentTitle h1 {
    font-weight: 700;
    font-size: 48px;
}

.addForm {
    margin: 100px 0 0 0;
}

.labelHome {
    font-weight: 400;
    font-size: 36px;
}

.textInputHome input {
    width: 418px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    font-size: 28px;
    padding-left: 10px;
}

.textInputHome input:focus-visible {
    outline: var(--textColor) solid 1px;
}

.textInputHome, .submitInputHome {
    height: 54px;
}

.submitInputHome input {
    width: 236px;
    height: 54px;
    background: var(--mainColor);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0;
    color: var(--white);
    font-weight: 400;
    font-size: 24px;
    transition: all 0.3s ease-out;
}

.submitInputHome input:hover {
    background-color: var(--mainColorHover);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.submitInputHome {
    margin: 0 0 0 20px;
}

.inputHome {
    display: flex;
    margin: 20px 0 0 0;
}

.userAddedList {
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 212px;
    overflow: auto;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--violetGrey);
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px 29px 0 0;
    width: 224px;
    height: 42px;
}

.username p {
    font-weight: 600;
    font-size: 27px;
    margin: 0;
}

.trashIcon svg {
    width: 25px;
    height: 25px;
    fill: var(--textColor);
}

.error {
    position: absolute;
    top: 220px;
    background: rgba(210, 38, 38, 0.2);
    border: 1px solid var(--error);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

.error p {
    margin: 0;
    padding: 10px;
    color: var(--errorText);
}

.error svg {
    padding: 10px;
    width: 20px;
    height: 20px;
    padding-right: 0px;
    stroke: var(--errorText);
}


/* SPENDINGS LIST */

.links {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.arrowContainerSpendings {
    width: auto;
    justify-content: normal;
}

.arrowContainerSpendings a {
    margin: 0;
}

.arrowContainerSpendings a:hover {
    transition: all .3s ease-in-out;
    margin: 0 -10px 0 0;
}

#returnHomeLink:hover {
    margin: 0 0 0 -10px;
}

.textLinkReturnHome {
    margin: 0 0 0 20px;
}

#returnHomeIcon {
    transform: rotate(0deg);
}

.contentTitleSpendings {
    display: flex;
    justify-content: space-between;
}

.iconsTitle {
    display: flex;
    align-items: center;
}

.newIcon svg, .downloadIcon svg {
    width: 50px;
    height: 50px;
    fill: var(--textColor);
}

.downloadIcon {
    margin: 0 40px 0 0;
}

#usernameBold {
    font-weight: 700;
}

.spendings {
    overflow: auto;
    height: 620px;
}

.spending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--violetGrey);
    border-radius: 5px;
    height: 92px;
    margin: 0 0 15px 0;
}

.spendingContent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 30px 0 0;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.modifyIcon svg, .trashIconSpendings svg {
    width: 35px;
    height: 35px;
    fill: var(--textColor);
}

.separeLigne {
    border-left: 1px solid var(--textColor);
    height: 70px;
}

.spendingContentLeft {
    margin: 0 0 0 20px;
}

.spendingContentRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.spendingContentLeftTitle h1, .spendingContentRightAmount h1 {
    margin: 0 0 11px 0;
}

.spendingContentLeftCreatedBy p, .spendingContentRightDate p {
    margin: 0;
    font-size: 24px;
}