/*
    Auteur  : Younes Sayeh
    Date    : 06.02.2023
*/

/* Color variables */
:root {
    --mainColor: #3319c8;
    --mainColorHover: #4C32E1;
    --textColor: #3A3965;

    --backroundColor1: #b5c9ff;
    --backroundColor2: #cbdeff;

    --violetGrey: #F0F0F8;
    --mainGrey: #838383;
    --white: #FFFFFF;
}

/* Global style */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
}

.backgroundContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--backroundColor2);
}

.waveBackground {
    width: 100%;
    height: 50%;
}

.waveBackgroundSvg {
    fill: var(--backroundColor1);
}

.backgroundContent {
    background-color: white;
    position: absolute;
    width: 1047px;
    height: 671px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.arrowContainer {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

.arrowContainer a {
    display: flex;
    align-items: center;
    color: var(--textColor);
    text-decoration: none;
    margin: 0 50px 0 0;
}

.arrowIconContainer {
    transform: rotate(180deg);
}

.arrowIconContainer svg {
    fill: var(--textColor);
    width: 50px;
    height: 50px;
}

.textLink p {
    color: var(--textColor);
    font-weight: 600;
    font-size: 30px;
    margin: 0 20px 0 0;
}

.content {
    width: 80%;
    height: 100%;
    margin: 0 105px 0 105px;
}

.contentTitle h1 {
    font-weight: 700;
    font-size: 48px;
}

.addForm {
    margin: 100px 0 0 0;
}

.labelHome {
    font-weight: 400;
    font-size: 36px;
}

.textInputHome input {
    width: 418px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--textColor);
    font-size: 28px;
    padding-left: 10px;
}

.textInputHome, .submitInputHome {
    height: 54px;
}

.submitInputHome input {
    width: 236px;
    height: 54px;
    background: var(--mainColor);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0;
    color: var(--white);
    font-weight: 400;
    font-size: 24px;
}

.submitInputHome input:hover {
    background-color: var(--mainColorHover);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.submitInputHome {
    margin: 0 0 0 20px;
}

.inputHome {
    display: flex;
    margin: 20px 0 0 0;
}

.userAddedList {
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 212px;
    overflow: auto;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--violetGrey);
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px 0 0 0;
    width: 224px;
    height: 42px;
}

.username p {
    font-weight: 600;
    font-size: 27px;
}

.trashIcon svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}